* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(107, 209, 240);
  display: flex;
  align-items: center;
  justify-content: center;
}
#box {
  width: 22vw;
  height: 40vw;
  background-color: rgb(30, 61, 99);
  border-radius: 10px;
  overflow: hidden;
}
#screen {
  background-color: black;
  width: 100%;
  height: 23vh;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: left;
  color: white;
  overflow: hidden;
}
#screen h2 {
  font-size: 40px;
  text-align: right;
}
#buttons {
  display: flex;
  flex-wrap: wrap;
}
button {
  width: 4.6rem;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  background-color: gray;
  box-shadow: 2px 2px 5px #000;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin: 0.6rem;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: rgb(131, 131, 75);
}
